<mat-form-field class="example-chip-list">
    <mat-chip-list #chipList aria-label="Tag selection">
        <mat-chip
            *ngFor="let tag of query.andTags"
            [selectable]="selectable"
            [removable]="removable"
            (click)="orTag(tag)"
            (removed)="remove(tag)"
        >
            ✔
            {{tag.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>

        <mat-chip
            *ngFor="let tag of query.orTags"
            [selectable]="selectable"
            [removable]="removable"
            (click)="notTag(tag)"
            (removed)="remove(tag)"
        >
            ❔
            {{tag.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>

        <mat-chip
            *ngFor="let tag of query.notTags"
            [selectable]="selectable"
            [removable]="removable"
            (click)="andTag(tag)"
            (removed)="remove(tag)"
        >
            ❕
            {{tag.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>

        <input
            role="searchbox"
            #termInput
            #trigger="matAutocompleteTrigger"
            [formControl]="termCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputAddOnBlur]="addOnBlur"
            (input)="onValueChange($event)"
            (keyup)="onKeyUp($event)" />
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearInputAndQuery()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-chip-list>

    <mat-autocomplete class="file-query-autocomplete" #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)" [panelWidth]="'1024px'">
        <mat-optgroup [label]="'Tags'">
            <mat-option *ngFor="let tagOption of matchingTags" [value]="tagOption">
                <img *ngIf="tagOption.value" class="tag-preview" aria-hidden src="/laputin/tag-thumbs-small/{{tagOption.value.id}}.jpg" onerror="this.style.display = 'none'" />
                {{tagOption.text}}
            </mat-option>
        </mat-optgroup>
    </mat-autocomplete>
</mat-form-field>
