<div class="container">
    <div class="files full-height" #files>
        <ng-container *ngIf="files$ | async as files; else loading">
            <div class="files-search">
                <app-file-query></app-file-query>

                <div *ngIf="files.length > 0">
                    <span>
                        {{files.length}} files, {{ totalDuration$ | async }}, {{ totalSize$ | async }}
                        <a (click)="openFiles()" title="Open in external player">
                            <i class="fa fa-film" aria-hidden="true"></i>
                        </a>
                    </span>

                    <button mat-button [matMenuTriggerFor]="appMenu">
                        <i class="material-icons">list</i>

                        <ng-container *ngIf="activeViewMode === ViewMode.Thumbnails">
                            Thumbnails
                        </ng-container>
                        <ng-container *ngIf="activeViewMode === ViewMode.SmallThumbnails">
                            Small thumbnails
                        </ng-container>
                        <ng-container *ngIf="activeViewMode === ViewMode.Details">
                            Details
                        </ng-container>
                    </button>
                    
                    <mat-menu #appMenu="matMenu">
                        <button mat-menu-item (click)="activateViewMode(ViewMode.Thumbnails)">
                            Thumbnails
                        </button>
                        <button mat-menu-item (click)="activateViewMode(ViewMode.SmallThumbnails)">
                            Small thumbnails
                        </button>
                        <button mat-menu-item (click)="activateViewMode(ViewMode.Details)">
                            Details
                        </button>
                    </mat-menu>
                </div>
            </div>

            <div class="files-list">
                <virtual-scroller #scroll [items]="files">
                    <div class="files-grid" #container>
                        <div class="grid-item" *ngFor="let file of scroll.viewPortItems" [ngStyle]="fileStyle" role="button">
                            <a href="/#/files/{{ file.hash }}" (click)="rememberFile(file)">
                                <ng-container *ngIf="activeViewMode === ViewMode.Thumbnails || activeViewMode === ViewMode.SmallThumbnails">
                                    <app-file-item [file]="file"></app-file-item>
                                </ng-container>
                                <ng-container *ngIf="activeViewMode === ViewMode.Details">
                                    <app-file-item-details [file]="file"></app-file-item-details>
                                </ng-container>
                            </a>
                        </div>
                    </div>
                </virtual-scroller>
            </div>
        </ng-container>

        <ng-template #loading>
            <mat-spinner></mat-spinner>
        </ng-template>
    </div>
</div>
