@import './../../styles/styles.scss';

input, select {
    @include rounded-borders;

    background: $color-complement-1;
    color: $color-primary-4;
    font-size: 1.2em;
}

input::placeholder {
    color: $color-complement-2;
    opacity: 1;
}
