<div
    class="scene"
    [ngClass]="{ active: active }"
    matTooltip="{{ scene.index }} {{ scene.length | duration}}&#13;Time: {{ scene.start }}-{{ scene.end }}&#13;Frames: {{ scene.startFrame }}-{{scene.endFrame}}"
    (click)="goToSceneStart()"
>
    <img src="/laputin/scenes/{{ file.fileId }}/{{ file.fileId }}_{{ scene.index }}_1.jpg" />
    <img src="/laputin/scenes/{{ file.fileId }}/{{ file.fileId }}_{{ scene.index }}_2.jpg" />
    <img src="/laputin/scenes/{{ file.fileId }}/{{ file.fileId }}_{{ scene.index }}_3.jpg" />

    <div class="end" (click)="goToSceneEnd(); $event.stopPropagation()">
        &nbsp;
    </div>
</div>
