<div class="container">
    <div class="screenshot">
        <img (click)="goToTimecodeStart()" mat-card-image src="/laputin/tag-timecode-thumbs/{{timecode.timecodeId}}.jpg{{timecode.cacheBuster}}"
            [matTooltip]="formatTimecodeDuration() + ': ' + formattedTags()" />
    </div>

    <div class="controls screenshot-control" (click)="screenshotTimecode()" title="Set screenshot to timecode">
        <i class="fas fa-camera"></i>
    </div>

    <div class="controls edit-control" (click)="edit()" title="Edit...">
        <i class="fas fa-edit"></i>
    </div>

    <div class="controls timecode-end-control" (click)="goToTimecodeEnd()" title="Go to timecode end: {{formatPreciseDuration(timecode.end)}}">
        <i class="fas fa-sign-in-alt"></i>
    </div>
</div>
