@import './../../styles/styles.scss';

img,
.screenshot {
    max-height: 150px;
}

.container {
    position: relative;
    max-height: 150px;
}

.controls {
    display: none;
    position: absolute;
    color: white;
    text-shadow: 1px 1px 0 black;
    flex-direction: row;
}

.edit-control {
    top: 0.25 * $standard-margin;
    left: 0.25 * $standard-margin;
}

.timecode-start-control {
    bottom: 0.25 * $standard-margin;
    left: 0.25 * $standard-margin;
}

.timecode-end-control {
    right: 0.25 * $standard-margin;
    bottom: 0.25 * $standard-margin;
}

.screenshot-control {
    top: 0.25 * $standard-margin;
    right: 0.25 * $standard-margin;
}

.container:hover .controls {
    display: flex;
}
