<a [routerLink]="['/files', file.hash]">
    <div class="container" [lazyLoad]="image">
        <div class="filename">
            <span class="filename-small">{{file.directory}}</span>
            <br />
            <span class="filename-big">{{file.nameSansSuffix}}</span>
            <span class="filename-small">{{file.suffix}} ({{file.humanSize}})</span>
        </div>

        <mat-chip class="tags" *ngIf="file.tags.length > 0" [matTooltip]="formattedTags(file)" matTooltipClass="tooltip">{{file.tags.length}}</mat-chip>
    </div>
</a>
