@import './../../styles/styles.scss';

:host {
    flex: 1;
    display: flex;
}

a, a:hover {
    display: flex;
    flex: 1;
    color: white;
    text-shadow: 1px 1px 1px black;
    text-decoration: none;
}

.container {
    flex: 1;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filename {
    padding-bottom: 0;
    font-weight: bold;
}

.filename-small {
    margin: 0;
    font-size: 14px;
}

.filename-big {
    margin-top: 0;
    margin-bottom: 0; 
    font-size: 20px;
}

.filename {
    margin: 0.25 * $standard-margin;
}

::ng-deep .tooltip {
    font-size: 14px;
    max-width: 800px !important;
    background: #0F1937;
}

.tags {
    align-self: flex-end;
    margin: 0.25 * $standard-margin;
}

::ng-deep mat-chip.tags {
    background: #0F1937 !important;
    color: white !important;
}
