@import './../../styles/styles.scss';

a, a:hover {
    color: $color-primary-4;
    text-decoration: none;
}

.filename {
    padding-bottom: 0;
    font-weight: bold;
}

.filename-small {
    margin: 0;
    font-size: 14px;
}

.filename-big {
    margin-top: 0;
    margin-bottom: 0; 
    font-size: 20px;
}

.tag {
    @include rounded-borders;

    background: $color-primary-4;
    color: #e0e0e0;
    margin-bottom: 0.25 * $standard-margin;
    margin-right: 0.25 * $standard-margin;
    display: inline-block;

    cursor: pointer;
}
