@import './../styles/styles.scss';

.maincontainer {
    @include g-layout__column;

    min-height: 100vh;
    max-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    overflow: auto;
}

.nav {
    @include g-layout__row;

    background: $color-primary-4;

    padding: calc(#{$standard-margin} * 0.5);
}

a {
    color: $color-primary-1;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

ul {
    margin: 0;
    padding-left: 0;
}

li {
    list-style: none;
    margin-right: 1em;
}

.current-file {
    margin-left: 2em;
}

.highlight {
    font-weight: 600;
}

.fa-play-circle {
    color: white;
    margin-right: 0.5em;
}

span {
    color: white;
    margin: 0;
}
