<form (ngSubmit)="submitClicked($event)">
    <div class="control">
        <app-tag-autocomplete [tagContainer]="query" (select)="addTag($event)" [type]="AutocompleteType.FileSearch">
        </app-tag-autocomplete>
    </div>

    <div class="control">
        <a style="cursor: pointer;" (click)="clear()">Clear search filters</a>
    </div>

    <div class="control">
        <input type="submit" style="display: none;" (click)="submitClicked($event)" />
    </div>
</form>

<div class="row" style="align-items: flex-start;">
    <div class="tag" *ngFor="let tag of query.tags">
        <app-search-tag [tag]="tag" (changed)="changeTag($event)" (removed)="removeTag($event)"></app-search-tag>
    </div>
</div>
