@import './../../styles/styles.scss';

:host {
    @include g-layout__row;

    overflow: auto;
    flex: 2;
}

.container {
    background: $color-primary-1;
    padding: $standard-margin;
    overflow: auto;
    flex-basis: 100%;
}

.hidden {
    display: none;
}

.filename {
    padding-bottom: 0;
    font-weight: bold;
}

.filename-small {
    margin: 0;
    font-size: 14px;
}

.filename-big {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
}

.duplicate-group {
    margin-bottom: 2rem;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;

    th,
    td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }
}

.exact-match {
    font-weight: bold;
}
