@import '../../styles/styles.scss';

.btn-group {
    @include rounded-borders;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

span.must-contain {
    background: inherit;
    color: #5ac72e;
}

span.can-contain {
    background: inherit;
    color: yellow;
}

span.does-not-contain {
    background: inherit;
    color: red;
}

.must-contain {
    background: #5ac72e;
    color: $color-primary-4;
}

.can-contain {
    background: yellow;
    color: $color-primary-4;
}

.does-not-contain {
    background: red;
    color: $color-primary-4;
}

.open {
    @include rounded-borders;

    position: absolute;
    top: 32px;
    background: $color-complement-1;
}

.open {
    list-style: none;   
}

.closed {
    display: none;
}
