@import './../../styles/styles.scss';

:host {
    @include g-layout__row;

    overflow: auto;
    flex: 2;
}

::ng-deep {
    .mat-slider-track-background {
        background: white !important;
    }
}

.container {
    @include g-layout__row;

    padding: $standard-margin;
    overflow: auto;
    flex: 2;

    position: relative;
}

.video-container {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-container video {
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;

    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    /* Make video to at least 100% wide and tall */
    min-width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 100%;
    max-height: 100%;
    transform: translate(-50%, -50%);
}

.video-area {
    position: relative;
    background: black;
    background-repeat: no-repeat;
    background-position: center;
    flex-grow: 1;
    background-size: contain;
}

.screenshot-preview {
    position: absolute;
    top: $standard-margin;
    right: $standard-margin;
    z-index: 99;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    width: 25%;
    max-width: 25%;
    height: 25%;
    max-height: 25%;
    background-size: contain;
}

.video-hero-play {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 5em;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.player-controls {
    display: none;
    display: none;
    position: absolute;
    bottom: $standard-margin;
    z-index: 20;
    width: 100%;
    max-width: 100%;
    color: white;
    flex-direction: row;
}

.show .filename {
    display: block !important;
}

.show .player-controls {
    display: flex !important;
}

.filename {
    display: none;
    position: absolute;
    top: $standard-margin;
    left: $standard-margin;
    z-index: 10;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 0 black;
}

.filename-small {
    margin: 0;
    font-size: 14px;
    text-shadow: 1px 1px 0 black;
}

.filename-big {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    text-shadow: 1px 1px 0 black;
}

.timeline {
    float: left;
    background: $color-primary-2;
    width: 100%;
    height: 20px;
    border-radius: 15px;
}

.playhead {
    margin-top: 1px;
    background: $color-complement-1;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.active-button {
    color: $color-complement-1;
}

.timeline-and-buttons {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.progress-text {
    margin-right: 2 * $standard-margin;
}

.fa {
    cursor: pointer;
}
