@import './../../styles/styles.scss';

.row {
    @include g-layout__row;
}

.player, .tagging {
    flex-basis: 50%;
    padding: $standard-margin;
}

.tag-tools {
    margin-right: $standard-margin;
}

.tag {
    @include rounded-borders;

    background: #0F1937;
    color: #e0e0e0;
    margin-bottom: 0.25 * $standard-margin;
    margin-right: 0.25 * $standard-margin;
    display: inline-block;
}

.filename {
    padding: 24px;
    padding-bottom: 0;
    font-weight: bold;
}

.filename-small {
    margin: 0;
    font-size: 14px;
}

.filename-big {
    margin-top: 0;
    margin-bottom: 0; 
    font-size: 20px;
}

#timeline{
	width: 400px;
	height: 20px;
	background: #485476;
	float: left;
	border-radius: 15px;
}

#playhead{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-top: 1px;
	background: #D6C295;
}
