<div class="container" #playerView>
    <div class="video-area" #videoArea [ngStyle]="!playbackHasBeenStarted && {'background-image': 'url(/laputin/thumbs/' + file.hash + '.jpg)'}" [ngClass]="{ 'show': this.mouseOverVideo || !this.playing}">
        <div class="video-overlay-controls">
            <div (click)="goToPrevious()" title="Go to previous" class="small-icon">
                <i class="material-icons">
                    skip_previous
                </i>
            </div>

            <div (click)="play()" *ngIf="!playing" class="medium-icon">
                <i class="material-icons">
                    play_arrow
                </i>
            </div>

            <div (click)="pause()" *ngIf="playing" class="medium-icon">
                <i class="material-icons">
                    pause
                </i>
            </div>

            <div (click)="goToNext()" title="Go to next" class="small-icon">
                <i class="material-icons">
                    skip_next
                </i>
            </div>

            <div (click)="toggleRandom()" title="Toggle random" class="small-icon random" [ngClass]="{ 'active-icon': random }">
                <i class="material-icons" color="primary">
                    shuffle
                </i>
            </div>
        </div>

        <div [ngClass]="{ 'hidden': !playbackHasBeenStarted }" class="video-container">
            <div class="screenshot-preview" [ngClass]="{ 'hidden': !showScreenshotPreview }" [ngStyle]="showScreenshotPreview && {'background-image': 'url(/laputin/thumbs/' + file.hash + '.jpg?' + cacheBuster + ')'}">
                &nbsp;
            </div>

            <video src="{{videoSource}}" #player></video>
        </div>

        <div class="player-controls">
            <div class="timeline-and-buttons">
                <div class="timeline-controls">
                    <span class="progress-text" *ngIf="progress$ | async as progress" (click)="showPreciseProgress = !showPreciseProgress">
                        <ng-container *ngIf="showPreciseProgress">{{ progress.frame }} {{ progress.timecode | preciseDurationWithMs }} {{ progress.currentTime | preciseDurationWithMs }}</ng-container>
                        <ng-container *ngIf="!showPreciseProgress">{{ progress.currentTime | preciseDuration }}</ng-container>
                    </span>
                    <mat-slider [min]="sliderMin" [max]="sliderMax" [value]="sliderValue" (change)="setProgress($event)" #slider></mat-slider>
                    <span class="progress-text">{{duration}}</span>
                    <button mat-button (click)="toggleFullScreen()">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </button>
                    <button mat-button [matMenuTriggerFor]="appMenu" *ngIf="!isMobile">
                        <i class="fas fa-camera"></i>
                    </button>
                    <mat-menu #appMenu="matMenu">
                        <button mat-menu-item (click)="playbackHasBeenStarted && screenshot()">
                            <i class="fa fa-camera" aria-hidden="true"></i> Set file screenshot
                        </button>
                        <button mat-menu-item (click)="playbackHasBeenStarted && openTagScreenshotDialog()">
                            <i class="fa fa-camera" aria-hidden="true"></i> Set tag screenshot...
                        </button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>
</div>
