<div class="container" style="padding: 24px;">
    <div class="column player" style="flex-grow: 1; margin-right: 24px; position: relative;">
        <div class="row video-area" [ngStyle]="!playbackHasBeenStarted && {'background-image': 'url(/laputin/thumbs/' + file.hash + '.jpg)'}">
            <div [ngClass]="{ 'hidden': playing }" class="filename" style="color: white;">
                <span class="filename-small">{{file.directory}}</span>
                <br />
                <span class="filename-big">{{file.nameSansSuffix}}</span>
                <span class="filename-small">{{file.suffix}}</span>
            </div>

            <div [ngClass]="{ 'hidden': playbackHasBeenStarted }" class="video-hero-play" (click)="play()" *ngIf="!playing">
                <i class="far fa-play-circle" aria-hidden="true"></i>
            </div>

            <div [ngClass]="{ 'hidden': !playbackHasBeenStarted }" class="video-container">
                <div class="screenshot-preview" [ngClass]="{ 'hidden': !showScreenshotPreview }" [ngStyle]="showScreenshotPreview && {'background-image': 'url(/laputin/thumbs/' + file.hash + '.jpg?' + cacheBuster + ')'}">
                    &nbsp;
                </div>

                <video src="{{videoSource}}" #player></video>
            </div>

            <div class="player-controls" *ngIf="playbackHasBeenStarted" style="position: absolute; bottom: 0; background: white; width: 100%;">
                <div class="player-main-button">
                    <button *ngIf="!playing" color="primary" mat-raised-button (click)="play()">
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </button>

                    <button *ngIf="playing" color="primary" mat-raised-button (click)="pause()">
                        <i class="fa fa-pause" aria-hidden="true"></i>
                    </button>
                </div>

                <div class="timeline-and-buttons">
                    <mat-slider [min]="sliderMin" [max]="sliderMax" [value]="sliderValue" (change)="setProgress($event)"
                        #slider></mat-slider>

                    <div style="display: flex; flex-direction: row; align-items: center;">
                        <button *ngIf="!random" mat-button (click)="toggleRandom()" title="Toggle random">
                            <i class="fa fa-random" aria-hidden="true"></i>
                        </button>

                        <button *ngIf="random" mat-button (click)="toggleRandom()" color="primary" title="Toggle random">
                            <i class="fa fa-random" aria-hidden="true"></i>
                        </button>

                        <button mat-button (click)="goToPrevious()" title="Go to previous">
                            <i class="fa fa-fast-backward" aria-hidden="true"></i>
                        </button>

                        <button mat-button (click)="goToNext()" title="Go to next">
                            <i class="fa fa-fast-forward" aria-hidden="true"></i>
                        </button>

                        <span style="margin-right: 48px;">{{progressText}}</span>

                        <mat-menu #appMenu="matMenu">
                            <button mat-menu-item (click)="playbackHasBeenStarted && screenshot()">
                                <i class="fa fa-camera" aria-hidden="true"></i> Set file screenshot
                            </button>
                            <button mat-menu-item (click)="playbackHasBeenStarted && openTagScreenshotDialog()">
                                <i class="fa fa-camera" aria-hidden="true"></i> Set tag screenshot...
                            </button>
                            <button mat-menu-item (click)="openFile()">
                                <i class="fa fa-film" aria-hidden="true"></i> Open file in external player
                            </button>
                            <button mat-menu-item (click)="copy()">
                                <i class="fa fa-copy" aria-hidden="true"></i> Copy tags from current file
                            </button>
                            <button mat-menu-item (click)="paste()">
                                <i class="fa fa-paste" aria-hidden="true"></i> Paste tags to current file
                            </button>
                        </mat-menu>

                        <button mat-icon-button [matMenuTriggerFor]="appMenu">
                            Menu
                        </button>

                        <mat-slider [min]="volumeMin" [max]="volumeMax" [value]="volumeValue" (change)="setVolume($event)"
                            #volume></mat-slider>
                    </div>
                </div>

                <div class="player-main-button">
                    <div (click)="toggleFullScreen()">
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="timecodes" *ngIf="timecodes.length > 0">
            <app-timecode *ngFor="let timecode of timecodes" [file]="file" [timecode]="timecode" (removed)="removeTimecode($event)"></app-timecode>
        </div>
    </div>

    <div class="column" style="min-width: 500px; max-width: 500px; display: flex; flex-direction: column; justify-content: space-between;">
        <div style="margin-bottom: 24px;">
            <div class="row">
                <div class="tag-tools">
                    <app-tag-autocomplete [tagContainer]="file" (tagSelected)="addTag($event)" (tagRemoved)="removeTag($event)" [type]="AutocompleteType.FileTagging"></app-tag-autocomplete>
                </div>
            </div>
        </div>

        <div>
            <div class="row" style="margin-bottom: 6px; flex-wrap: wrap;" *ngIf="selectedTagsForTimecode">
                <button class="tag" *ngFor="let tag of selectedTagsForTimecode" (click)="removeTagSelectionFromTimecode(tag)"
                    mat-flat-button title="Click to reset tag selection">{{tag.name}}</button>
            </div>

            <div class="row" style="margin-bottom: 6px;">
                <app-tag-autocomplete [tagContainer]="file" [exclude]="selectedTagsForTimecode" (tagSelected)="addTagSelectionToTimecode($event)"
                [type]="AutocompleteType.FileTimecodeTagging"></app-tag-autocomplete>
            </div>

            <div class="row" style="margin-bottom: 6px;">
                <button mat-mini-fab color="primary" (click)="setTagStart()" title="Set tag timecode start">
                    <i class="fas fa-stopwatch"></i>
                </button>
                <button mat-mini-fab color="primary" (click)="goToTagStart()" title="Go to tag timecode start">
                    <i class="far fa-dot-circle"></i>
                </button>

                <mat-form-field>
                    <input matInput placeholder="Start time" [(ngModel)]="tagStart" style="width: 6em;" />
                </mat-form-field>
            </div>

            <div class="row" style="margin-bottom: 6px;">
                <button mat-mini-fab color="primary" (click)="setTagEnd()" title="Set tag timecode end">
                    <i class="fas fa-stopwatch"></i>
                </button>
                <button mat-mini-fab color="primary" (click)="goToTagEnd()" title="Go to tag timecode end">
                    <i class="far fa-dot-circle"></i>
                </button>

                <mat-form-field>
                    <input matInput [(ngModel)]="tagEnd" placeholder="End time" style="width: 6em;" />
                </mat-form-field>
            </div>

            <button (click)="tagStart && tagEnd && saveTagTimecode()" mat-button>Save</button>
        </div>
    </div>
</div>
