<div class="container full-height">
    <div class="files-search">
        <div class="row">
            <app-timecode-search (update)="filterFiles($event)"></app-timecode-search>
            <div class="export-button">
                <span (click)="export()" style="cursor: pointer;">
                    <i class="fas fa-share-square"></i> Export</span>
            </div>
            <div class="export-commands" *ngIf="exporting">
                <textarea *ngIf="exporting">{{exportCommands}}</textarea>
            </div>
        </div>
    </div>

    <div class="files-list" style="flex-grow: 1;">
        <h2>Showing {{timecodeItems.length}} matching timecodes</h2>

        <virtual-scroll [items]="timecodeItems" (update)="viewPortItems = $event">
            <div *ngFor="let timecodeItem of viewPortItems">
                <div *ngIf="timecodeItem.type === TimecodeItemType.File">
                    <div style="height: 160px;">
                        <a [routerLink]="['/files', timecodeItem.item.hash]">
                            <div style="display: flex; margin-bottom: 12px;">
                                <div style="width: 200px; max-width: 200px; margin-right: 12px; margin-top: auto; margin-bottom: auto;">
                                    <img src="/laputin/thumbs-small/{{timecodeItem.item.hash}}.jpg" style="max-width: 200px;" />
                                </div>
                                <div>
                                    <div class="filename">
                                        <span class="filename-small">{{timecodeItem.item.directory()}}</span>
                                        <br />
                                        <span class="filename-big">{{timecodeItem.item.nameSansSuffix()}}</span>
                                        <span class="filename-small">{{timecodeItem.item.suffix()}}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div *ngIf="timecodeItem.type === TimecodeItemType.Timecode">
                    <div style="height: 160px;">
                        <app-timecode-readonly [timecode]="timecodeItem.item" style="display: flex; margin-bottom: 12px; margin-left: 96px;"></app-timecode-readonly>
                    </div>
                </div>
            </div>
        </virtual-scroll>
    </div>
</div>
