<div class="container">
    <div class="column">
        <app-timecode-search (update)="filterFiles($event)"></app-timecode-search>

        <div *ngFor="let fileWithTimecodes of filesWithTimecodes">
            <a [routerLink]="['/files', fileWithTimecodes.hash]">
                <span>{{ fileWithTimecodes.path }}</span>
            </a>
            <app-timecode-readonly *ngFor="let timecode of fileWithTimecodes.timecodes" [timecode]="timecode" style="display: flex; margin-bottom: 12px;"></app-timecode-readonly>
        </div>
    </div>
</div>
