@import './../../styles/styles.scss';

:host {
    @include g-layout__row;

    overflow: auto;
    flex: 2;
}

.container {
    @include g-layout__column;

    background: $color-primary-1;
    padding: $standard-margin;
    overflow: auto;
    flex: 2;
}

.files-list {
    display: flex;
    margin-top: 0;
    margin-bottom: $standard-margin;
    padding: $standard-margin;
    overflow: auto;
    flex: 1;
    flex-grow: 1;
    flex-direction: column;
}

.files-search {
    padding: $standard-margin;
    overflow-y: auto;
}

.row {
    @include g-layout__row;
}

.hidden {
    display: none;
}

virtual-scroller {
    height: 100%;
}

a,
a:hover {
    text-decoration: none;
    color: $color-primary-4;
}

.filename {
    padding-bottom: 0;
    font-weight: bold;
}

.filename-small {
    margin: 0;
    font-size: 14px;
}

.filename-big {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
}

textarea {
    @include rounded-borders;

    background: $color-complement-1;
    width: 100%;
    height: 100%;
    color: $color-primary-4;
}

app-timecode-search,
.export-button {
    margin-right: $standard-margin;
}

.export-commands {
    flex-grow: 1;
}

.timecode-timeline {
    display: flex;
    margin-bottom: $standard-margin;
    max-width: 100%;
    flex-direction: row;
    overflow-y: hidden;
}

.timecode-overlay {
    display: flex;
    margin-bottom: 0.5 * $standard-margin;
}
