<div class="container">
    <div class="files full-height" #files>
        <ng-container *ngIf="timecodes$ | async as timecodes; else loading">
            <div class="files-search">
                <div class="row">
                    <app-timecode-query></app-timecode-query>

                    <div *ngIf="timecodesSummary$ | async as timecodesSummary">
                        <span>
                            {{ timecodesSummary.fileCount }} files, {{timecodesSummary.timecodeCount}} timecodes, {{ timecodesSummary.duration }}
                        </span>
                    </div>
                </div>
            </div>
    
            <div class="files-list">
                <virtual-scroller #scroll [items]="timecodes">
                    <div class="files-grid" #container>
                        <div class="grid-item" *ngFor="let timecode of scroll.viewPortItems" [ngStyle]="fileStyle" role="button">
                            <app-timecode-item [timecode]="timecode" (click)="openTimecode(timecode)"></app-timecode-item>
                        </div>
                    </div>
                </virtual-scroller>
            </div>
        </ng-container>

        <ng-template #loading>
            <mat-spinner></mat-spinner>
        </ng-template>
    </div>
</div>
