@import './../../styles/styles.scss';

:host {
    @include g-layout__row;
    flex: 2;
    overflow: auto;
}

.container {
    @include g-layout__column;
    flex: 2;
    overflow: auto;
    background: $color-primary-1;
    padding: $standard-margin;
}

.files-list {
    flex: 1;
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    padding: $standard-margin;

    overflow: auto;

    margin-top: 0;
    margin-bottom: $standard-margin;
}

.files-search {
    overflow-y: auto;
    padding: $standard-margin;
}

.row {
    @include g-layout__row;
}

.hidden {
    display: none;
}

virtual-scroller {
    height: 100%;
}

a, a:hover {
    color: $color-primary-4;
    text-decoration: none;
}

.filename {
    padding-bottom: 0;
    font-weight: bold;
}

.filename-small {
    margin: 0;
    font-size: 14px;
}

.filename-big {
    margin-top: 0;
    margin-bottom: 0; 
    font-size: 20px;
}

textarea {
    @include rounded-borders;

    background: $color-complement-1;
    color: $color-primary-4;

    width: 100%;
    height: 100%;

}

app-timecode-search, .export-button {
    margin-right: $standard-margin;
}

.export-commands {
    flex-grow: 1;
}

.timecode-timeline {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    max-width: 100%;
    margin-bottom: $standard-margin;
}

.timecode-overlay {
    display: flex;
    margin-bottom: 0.5 * $standard-margin;
}
