@import './../../styles/styles.scss';

:host {
    flex: 1;
    display: flex;
}

.container {
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tag-name {
    margin: 0.25 * $standard-margin;
    color: white;
    text-shadow: 1px 1px 0 black;
    text-decoration: none;
}
