<div class="container" [lazyLoad]="image" (click)="goToTag()">
    <span class="tag-name" *ngIf="!isEditing">{{tag.name}}</span>

    <div *ngIf="isEditing">
        <input type="text" [(ngModel)]="name" (keyup)="onKeyUp($event)" />
        <button (click)="save()">
            <i class="fas fa-save"></i>
            Save
        </button>
        <button (click)="cancelEdit()">Cancel</button>
    </div>
</div>

<div class="controls edit-control" (click)="edit()" title="Edit...">
    <i class="fas fa-edit"></i>
</div>
