<mat-card style="width: 400px;">
    <mat-card-header>
        <mat-card-title>
            {{tag.name}}
        </mat-card-title>
        <mat-card-subtitle>
            {{tag.associationCount}} files
        </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/laputin/tag-thumbs/{{tag.id}}.jpg" onerror="this.src='/laputin/tag-thumbs/placeholder.jpg'" />
    <mat-card-content>
        <ng-container *ngIf="isEditing">
            <input matInput type="text" [(ngModel)]="name" (keyup)="onKeyUp($event)" />

            <button mat-button (click)="save()">
                <i class="fas fa-save"></i>
                Save
            </button>

            <button mat-button (click)="cancelEdit()">Cancel</button>
        </ng-container>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="edit()"><i class="far fa-edit"></i></button>
    </mat-card-actions>
</mat-card>
