<div ng-controller="EditFileCtrl" >
    <div class="row">
        <div class="col-sm-2">
            <form ng-submit="addTagFromSearch()">
                <input
                        tabindex="11"
                        type="text"
                        class="search-query"
                        placeholder="Find existing tags"
                        ng-model="fileTagName"
                        bs-typeahead="fileTagSearchFn" />
            </form>

            <p style="margin-top: 10px;">
                <small><a ng-click="toggleShowCreatingNewTags()">Didn't find the tag you were looking for..?</a></small>
            </p>

            <form ng-submit="createNewTag()" ng-show="showCreatingNewTags">
                <input id="tagName" ng-model="newTagName" tabindex="12" on-enter="createNewTag()" placeholder="Create a new tag" />
            </form>

            <small><a ng-click="open()">Open only this file</a></small>
        </div>
        <div class="col-sm-10">
            <div ng-show="file.tags.length > 0">
                <a ng-repeat="tag in file.tags | orderBy:'name'" ng-click="removeTag(tag)" class="btn btn-success tag">{{ tag.name }}</a>
            </div>
            <div ng-hide="file.tags.length > 0">
                <p>No tags.</p>
            </div>
        </div>
    </div>
</div>
