<button class="btn btn-large btn-primary open-button pull-right" type="button" ng-click="openFiles()" tabindex="12">Open files</button>

<div class="row">
    <div class="span4">
        <div class="padded">
            <p><input ng-model="availableTagQuery" tabindex="10" placeholder="Filter tags" class="full-width" /></p>

            <a ng-repeat="tag in tags | filter:tagNameMatches | filter:isTagUnselected | orderBy:'name'" ng-click="toggleSelection(tag)" class="btn tag">{{ tag.name }}</a>
        </div>
    </div>

    <div class="span8">
        <div class="padded">
            <div ng-show="someTagsSelected">
                <p>
                    <strong>Tags:</strong>
                    <a ng-repeat="tag in tags | filter:isTagSelected | orderBy:'name'" ng-click="toggleSelection(tag)" class="btn btn-success tag">{{ tag.name }}</a>
                </p>
                <p></p><a ng-click="removeTagSelections()" class="btn btn-danger">Remove tag selections</a></p>
                <p>{{ selectedFiles.length }} matching files found.</p>
            </div>
            <div ng-hide="someTagsSelected">
                <p>You can filter your files by selecting tags from the left menu.</p>
                <p>Altogether library contains {{ selectedFiles.length }} files.</p>
            </div>

            <ul>
                <li ng-repeat="file in selectedFiles | orderBy:'path'"><a href="/#/files/{{ file.hash }}">{{ file.name }}</a></li>
            </ul>
        </div>
    </div>
</div>