<div class="padded">
    <div class="filter-controls">
        <div class="extra-padded">
            <div class="row-fluid">
                <div class="span10">
                    <div class="pull-left">
                        <form ng-submit="addTagFromSearch()" class="no-margin">
                            <input tabindex="12" type="text" class="search-query"
                                   placeholder="Find tags"
                                   ng-model="tagName" bs-typeahead="tagSearchFn" />
                        </form>

                        <p><small><a ng-click="clearSearchFilters()">Clear search filters</a></small></p>
                        <p>
                            <small ng-hide="searchOptions.showAdvancedSearch"><a ng-click="toggleAdvancedSearch()">Show advanced</a></small>
                            <small ng-show="searchOptions.showAdvancedSearch"><a ng-click="toggleAdvancedSearch()">Hide advanced</a></small>
                        </p>
                    </div>

                    <div ng-hide="someTagsSelected">
                        <p>No tags selected.</p>
                    </div>
                    <div ng-show="someTagsSelected">
                        <div ng-switch on="searchOptions.showAdvancedSearch">
                            <div ng-switch-default>
                                <a ng-repeat="tag in selectedTags | orderBy:'name'"
                                   ng-click="toggleSelection(tag)"
                                   class="btn tag btn-success">
                                    {{ tag.name }} <small>{{ tag.files.length}}</small></a>
                            </div>

                            <div ng-switch-when="true">
                                <div class="btn-toolbar" style="margin: 0;">
                                    <div ng-repeat="tag in selectedTags | orderBy:'name'" ng-controller="FilterTagCtrl" class="btn-group">
                                        <a ng-class="{'btn-success': andOperatorOn(), 'btn-info': orOperatorOn(), 'btn-inverse': notOperatorOn()}" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                            {{ tag.name }} <small>{{ tag.files.length}}</small>
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li ng-click="activateAnd()">Must contain</li>
                                            <li ng-click="activateOr()">Can contain</li>
                                            <li ng-click="activateNot()">Does not contain</li>
                                            <li class="divider"></li>
                                            <li ng-click="toggleSelection(tag)">Remove</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span2">
                    <div class="span10">
                        <button class="btn btn-primary pull-right" ng-click="openFiles()" tabindex="13">
                            Open files
                        </button>
                    </div>
                </div>
            </div>

            <div ng-show="searchOptions.showAdvancedSearch">
                <div class="row-fluid">
                    <div class="span4">
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <span ng-show="searchOptions.selectedTaggedStatus == 1">Both tagged and untagged</span>
                                <span ng-show="searchOptions.selectedTaggedStatus == 2">Only untagged</span>
                                <span ng-show="searchOptions.selectedTaggedStatus == 3">Only tagged</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-click="searchOptions.selectedTaggedStatus = 1">Show both</li>
                                <li ng-click="searchOptions.selectedTaggedStatus = 2">Show only untagged</li>
                                <li ng-click="searchOptions.selectedTaggedStatus = 3">Show only tagged</li>
                            </ul>
                        </div>
                    </div>

                    <div class="span4">
                        <form ng-submit="addTagFromSearch()">
                            <input tabindex="11" type="text" class="search-query"
                                   placeholder="File name contains"
                                   ng-model="fileQuery" on-enter="updateFilteredFiles()" />
                        </form>
                    </div>

                    <div class="span4">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="showAllTags" ng-click="updateFilteredFiles()"> Show all tags
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="showBatchOperations"> Show batch operations
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form ng-show="showBatchOperations">
        <strong class="pull-left" style="font-size: 115%;">Batch operations</strong>
        <label class="checkbox pull-left">
            <input type="checkbox" ng-model="allInBatch" ng-click="addSelectedToBatch()" /> Select all
        </label>

        <input tabindex="12" type="text" class="pull-left"
               placeholder="Tag for batch operation"
               ng-model="batchTagName" bs-typeahead="tagSearchFn" />

        <button class="btn btn-success pull-left" ng-click="batchAddTag()">Add tag to checked files</button>
        <button class="btn btn-success pull-left" ng-click="batchCreateAndAddTag()">Create new tag and add it to checked files</button>
        <button class="btn btn-danger pull-left" ng-click="batchRemoveTag()">Remove tag from checked files</button>
    </form>

    <div ng-show="loadingFiles">
        <p>Loading files...</p>
    </div>
    <div ng-hide="loadingFiles">
        <table class="table table-striped" infinite-scroll="showMore()" infinite-scroll-distance="0" infinite-scroll-immediate-check="true">
            <tr>
                <th style="font-size: 115%;">Showing {{ selectedFiles.length }} matching files</th>
            </tr>
            <tr ng-controller="SingleFileCtrl" ng-repeat="file in visibleFiles | orderBy:'path'">
                <td>
                    <div>
                        <div ng-show="showBatchOperations">
                            <label class="checkbox pull-left">
                                <input type="checkbox" ng-model="file.batchSelection" />
                            </label>
                        </div>

                        <div ng-hide="editing">
                            <a ng-click="edit()">{{ file.name }}</a>

                            <p ng-show="file.tags.length > 0">
                                <strong>Tags:</strong>
                                <file-tag-listing></file-tag-listing>
                            </p>
                        </div>

                        <div ng-show="editing">
                            {{ file.name }}
                            <button class="btn" ng-click="closeEditing()">Close editing</button>
                        </div>
                    </div>

                    <div ng-switch on="editing">
                        <div ng-switch-when="true">
                            <div ng-controller="EditFileCtrl">
                                <button class="btn pull-right" ng-click="open()">Open</button>

                                <div class="row">
                                    <div class="span4">
                                        <h2>Add tags</h2>

                                        <form ng-submit="addTagFromSearch()">
                                            <input
                                                    tabindex="11"
                                                    type="text"
                                                    class="search-query"
                                                    placeholder="Find tags"
                                                    ng-model="tagName"
                                                    bs-typeahead="tagSearchFn" />
                                        </form>

                                        <h2>Create new tag</h2>

                                        <form>
                                            <label for="tagName">Name:</label>
                                            <input id="tagName" ng-model="newTagName" tabindex="12" on-enter="createNewTag()" />
                                            <a class="btn btn-primary" ng-click="createNewTag()">Create</a>
                                        </form>
                                    </div>
                                    <div class="span8">
                                        <h2>Current tags</h2>

                                        <div ng-show="file.tags.length > 0">
                                            <a ng-repeat="tag in file.tags | orderBy:'name'" ng-click="removeTag(tag)" class="btn btn-success tag">{{ tag.name }}</a>
                                        </div>
                                        <div ng-hide="file.tags.length > 0">
                                            <p>No tags.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
