<div class="padded">
    <div class="filter-controls">
        <div class="extra-padded">
            <div class="row-fluid">
                <div class="span4">
                    <form ng-submit="addTagFromSearch()" class="form-horizontal">
                        <div class="control-group">
                            <label for="tagQuery" class="control-label">Tags</label>
                            <div class="controls">
                                <input tabindex="11" type="text" class="search-query"
                                       id="tagQuery" items="30"
                                       placeholder="Find tags"
                                       ng-model="tagName" bs-typeahead="tagSearchFn" />                           
                           </div>
                       </div>
                    </form>
                    
                    <form ng-submit="addTagFromSearch()" class="form-horizontal">
                        <div class="control-group">
                            <label for="fileNameQuery" class="control-label">File name</label>
                            <div class="controls">
                                <input tabindex="12" type="text" class="search-query"
                                       id="fileNameQuery"
                                       ng-model="fileQuery" on-enter="updateFilteredFiles()" />
                            </div>
                        </div>
                    </form>

                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label">Status</label>
                            <div class="controls">
                                <div class="btn-group">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" tabindex="13">
                                        <span ng-show="searchOptions.selectedTaggedStatus == 1">Both tagged and untagged</span>
                                        <span ng-show="searchOptions.selectedTaggedStatus == 2">Only untagged</span>
                                        <span ng-show="searchOptions.selectedTaggedStatus == 3">Only tagged</span>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li ng-click="searchOptions.selectedTaggedStatus = 1">Show both</li>
                                        <li ng-click="searchOptions.selectedTaggedStatus = 2">Show only untagged</li>
                                        <li ng-click="searchOptions.selectedTaggedStatus = 3">Show only tagged</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form class="form-horizontal">
                        <div class="control-group">
                            <div class="controls">
                                <p><small><a ng-click="clearSearchFilters()">Clear search filters</a></small></p>
                                
                                <label class="checkbox">
                                    <input type="checkbox" ng-model="showBatchOperations"> Show batch operations
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="span7 offset1">
                    <div class="btn-toolbar" style="margin: 0;">
                        <div ng-repeat="tag in selectedTags | orderBy:'name'" ng-controller="FilterTagCtrl" class="btn-group">
                            <a ng-class="{'btn-success': andOperatorOn(), 'btn-info': orOperatorOn(), 'btn-inverse': notOperatorOn()}" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                {{ tag.name }} <small>{{ tag.files.length}}</small>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-click="activateAnd()">Must contain</li>
                                <li ng-click="activateOr()">Can contain</li>
                                <li ng-click="activateNot()">Does not contain</li>
                                <li class="divider"></li>
                                <li ng-click="toggleSelection(tag)">Remove</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div ng-show="showBatchOperations">
        <form>
            <strong class="pull-left" style="font-size: 115%;">Batch operations</strong>
            <label class="checkbox pull-left">
                <input type="checkbox" ng-model="allInBatch" ng-click="addSelectedToBatch()" /> Select all
            </label>

            <input tabindex="12" type="text" class="pull-left"
                   placeholder="Tag for batch operation"
                   items="30"
                   ng-model="batchTagName" bs-typeahead="batchTagSearchFn" />

            <button class="btn btn-success pull-left" ng-click="batchAddTag()">Add tag to checked files</button>
            <button class="btn btn-success pull-left" ng-click="batchCreateAndAddTag()">Create new tag and add it to checked files</button>
            <button class="btn btn-danger pull-left" ng-click="batchRemoveTag()">Remove tag from checked files</button>
        </form>
    </div>


    <div ng-show="loadingFiles">
        <p>Loading files...</p>
    </div>
    <div ng-hide="loadingFiles">
        <table class="table table-striped" infinite-scroll="showMore()" infinite-scroll-distance="0" infinite-scroll-immediate-check="true">
            <tr>
                <th style="font-size: 115%;">
                    Showing {{ selectedFiles.length }} matching files
                    
                    <button class="btn btn-primary pull-right" ng-click="openFiles()" tabindex="14">
                        Open files
                    </button>
                </th>
            </tr>
            <tr ng-controller="SingleFileCtrl" ng-repeat="file in visibleFiles | orderBy:'path'" ng-include="'/partials/single_file.html'">
            </tr>
        </table>
    </div>
</div>
