<div ng-show="!fileNotFound">
    <button class="btn btn-large btn-primary open-button pull-right" type="button" ng-click="openFile(file)" tabindex="12">Open file</button>

    <div class="padded">
        <h1>{{ file.name }}</h1>

        <h2>Information</h2>

        <p><strong>Path:</strong> {{ file.path }}</p>


        <div class="row">
            <div class="span4">
                <h2>Add tags</h2>

                <form ng-submit="addTagFromSearch()">
                    <input
                            tabindex="11"
                            type="text"
                            class="search-query"
                            placeholder="Find tags"
                            ng-model="tagName"
                            bs-typeahead="tagSearchFn"
                            blur="lastSubmit" />
                </form>

                <h2>Create new tag</h2>

                <form>
                    <label for="tagName">Name:</label>
                    <input id="tagName" ng-model="newTagName" tabindex="12" />
                    <a class="btn btn-primary" ng-click="createNewTag()">Create</a>
                </form>
            </div>
            <div class="span8">
                <h2>Current tags</h2>

                <a ng-repeat="tag in file.tags | orderBy:'name'" ng-click="removeTag(tag)" class="btn btn-success tag">{{ tag.name }}</a>
            </div>
        </div>
    </div>
</div>

<div ng-show="fileNotFound">
    <h1>File not found :(</h1>
</div>