<div class="padded">
    <h1 ng-show="!editing" ng-click="edit()">{{ tag.name }}</h1>
    <div ng-show="editing">
        <input type="text" ng-model="tag.name" />
        <button ng-click="save()">Save</button>
    </div>
</div>

<div class="span4">
    <div class="padded">
        <h2 ng-click="open()">Open</h2>
    </div>
</div>

<div class="span8">
    <div class="padded">
        <ul>
            <li ng-repeat="file in tag.files">{{ file.path }} [<a ng-click="removeFile(file)">Remove</a>]</li>
        </ul>
    </div>
</div>
