<div class="padded">
    <div class="filter-controls">
        <div class="extra-padded">
            <div class="row-fluid">
                <div class="span4">
                    <form ng-submit="addTagFromSearch()" class="form-horizontal">
                        <div class="control-group">
                            <label for="tagNameQuery" class="control-label">Tag name</label>
                            <div class="controls">
                                <input tabindex="10" type="text" class="search-query"
                                       id="tagNameQuery"
                                       ng-model="availableTagQuery" on-enter="updateFilteredFiles()" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <tr>
            <th style="font-size: 115%;">Showing {{ (tags|filter:tagNameMatches).length }} tags</th>
        </tr>
            
        <tr ng-repeat="tag in tags | filter:tagNameMatches | orderBy:'name'" ng-controller="SingleTagCtrl">
            <td>
                <div>
                    <p>
                        <span ng-show="!editing" ng-click="edit()">{{ tag.name }}</span>
                        <span ng-show="editing">
                            <input type="text" ng-model="newName" />
                            <button ng-click="save()">Save</button>
                            <button ng-click="cancel()">Cancel</button>
                        </span>
                        
                        ({{ tag.files.length }})
                    </p>
                    
                    <p><small><strong>Related:</strong> </small> <small ng-repeat="rel in tag.related | limitTo:10 ">{{ rel.name }} ({{ 100 * rel.rel_count / rel.total_count | number: 0 }}%){{{true: '', false: ', '}[$last]}}</small></p>
                </div>
            </td>
        </tr>
    </table>
</div>
