{
  "extends": [
    "oclif",
    "oclif-typescript",
    "eslint:recommended"
  ],
  "rules": {
    "indent": [
      "error",
      4
    ],
    "object-curly-spacing": "off",
    "semi": "off"
  }
}
