@import './../../styles/styles.scss';

:host {
    @include g-layout__row;

    flex: 2;
}

.container {
    @include g-layout__row;

    overflow: auto;
    flex: 2;
}

.player {
    background: $color-primary-1;
    overflow: auto;
    flex-basis: 100%;
}

.files {
    @include g-layout__column;

    background: $color-primary-1;
    overflow: auto;
    flex-basis: 100%;
}

.files-loading {
    align-items: center;
    justify-content: center;
}

.files-grid {
    display: grid;
    flex: 1;
    grid-template-columns: 800px 800px 800px;
    column-gap: $standard-margin;
    row-gap: $standard-margin;
}

.grid-item {
    display: flex;
    height: 450px;
}

.files-list {
    display: flex;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: $standard-margin;
    margin-left: auto;
    overflow: auto;
    flex-grow: 1;
    flex: 1;
    flex-direction: column;
}

.files-search {
    display: flex;
    margin-top: 0.5 * $standard-margin;
    margin-right: auto;
    margin-left: auto;
    width: 2448px;
    flex-direction: row;
    align-items: baseline;

    span {
        margin-left: 2 * $standard-margin;
        font-weight: bold;
    }
}

.full-height {
    min-height: 100%;
    max-height: 100%;
}

.files-table {
    flex: 2;
    overflow-y: scroll;
}

.row {
    @include g-layout__row;
}

.hidden {
    display: none;
}

virtual-scroller {
    height: 100%;
}

.show-more {
    margin-top: $standard-margin;
}
