@import './../../styles/styles.scss';

:host {
    @include g-layout__row;
    flex: 2;
    overflow: auto;
}

.container {
    @include g-layout__row;
    flex: 2;
    overflow: auto;
}

.player {
    background: $color-primary-1;
    flex-basis: 50%;
    overflow: auto;
}

.files {
    background: $color-primary-1;
    flex-basis: 50%;
    overflow: auto;
}

.files-list {
    flex: 1;

    display: flex;
    flex-direction: column;

    padding: $standard-margin;

    overflow: auto;

    margin-top: 2 * $standard-margin;
    margin-bottom: 2 * $standard-margin;
}

.files-search {
    overflow-y: auto;
    padding: $standard-margin;
}

.full-height {
    min-height: 100%;
    max-height: 100%;
}

.files-table {
    flex: 2;
    overflow-y: scroll;
}

.row {
    @include g-layout__row;
}
