<div class="container">
    <div class="files full-height" [ngClass]="{'hidden': activeFile}">
        <div [ngClass]="{'hidden': !loading}">
            <i class="fa fa-spinner"></i>
        </div>

        <ng-container *ngIf="!loading">
            <div class="files-search">
                <app-file-query [query]="query" (queryUpdated)="filterFiles($event)"></app-file-query>
    
                <span *ngIf="allFiles.length > 0">
                    {{allFiles.length}} files, {{ totalDuration }}, {{ totalSize }}
                    <a (click)="openFiles()" title="Open in external player">
                        <i class="fa fa-film" aria-hidden="true"></i>
                    </a>
                </span>
            </div>
    
            <div class="files-list">
                <div class="files-grid">
                    <div class="grid-item" *ngFor="let file of files">
                        <app-file [file]="file"></app-file>
                    </div>
                </div>
    
                <button mat-button *ngIf="files.length != allFiles.length" (click)="showMore()" class="show-more">
                    <i class="fas fa-sync"></i>
                    Show more...
                </button>
            </div>
        </ng-container>
    </div>

    <div class="player full-height" *ngIf="activeFile">
        <app-video-player class="full-height" [file]="activeFile" (fileChange)="changeActiveFile($event)" (fileClosed)="closeFile()"></app-video-player>
    </div>
</div>
