<div class="container">
    <div class="files full-height" [ngClass]="{'hidden': activeFile}">
        <div class="files-search">
            <h2>
                Showing {{allFiles.length}} matching files
                <a (click)="openFiles()" title="Open in external player">
                    <i class="fa fa-film" aria-hidden="true"></i>
                </a>
            </h2>

            <app-file-query [query]="query" (queryUpdated)="filterFiles($event)"></app-file-query>
        </div>

        <div class="files-list">
            <div [ngClass]="{'hidden': !loading}">
                <i class="fa fa-spinner"></i>
            </div>

            <div class="files-grid">
                <div class="grid-item" *ngFor="let file of files">
                    <app-file [file]="file"></app-file>
                </div>
            </div>

            <button mat-button *ngIf="files.length != allFiles.length" (click)="showMore()" class="show-more">
                <i class="fas fa-sync"></i>
                Show more...
            </button>
        </div>
    </div>

    <div class="player full-height" *ngIf="activeFile">
        <app-video-player class="full-height" [file]="activeFile" (fileChange)="changeActiveFile($event)" (fileClosed)="closeFile()"></app-video-player>
    </div>
</div>
