@import './../../styles/styles.scss';

:host {
    @include g-layout__column;
    flex: 2;
}

.container {
    @include g-layout__column;
    flex: 2;
}

.player {
    background: $color-primary-1;
}

.files {
    background: $color-primary-2;
}

.files-table {
    flex: 2;
    overflow-y: scroll;
}

.row {
    @include g-layout__row;
}
