<div class="container" [ngClass]="{ 'mobile': isMobile }" #fileElement>
    <ng-container *ngIf="activeFile$ | async as activeFile">
        <div class="video-container" [ngClass]="{ 'video-container-desktop': !isMobile }">
            <div class="filename" *ngIf="!isMobile">
                <span>{{file.name}}</span>

                <span class="file-open-link">
                    <a (click)="openFile()" title="Open in external player" *ngIf="!isMobile">
                        <i class="fa fa-film" aria-hidden="true"></i>
                    </a>
                    <a (click)="showFileInExplorer()" title="Show file in Windows Explorer" *ngIf="!isMobile">
                        <i class="fa fa-folder" aria-hidden="true"></i>
                    </a>
    
                    <a [href]="sanitize('intent://' + baseMediaPath + file.hash + '#Intent;scheme=http;package=org.videolan.vlc;end')" *ngIf="isMobile">
                        <i class="fa fa-film" aria-hidden="true"></i>
                    </a>
                </span>

                <mat-menu #appMenu="matMenu">
                    <button mat-menu-item (click)="copy()">
                        <i class="fa fa-copy" aria-hidden="true"></i> Copy tags from current file
                    </button>
                    <button mat-menu-item (click)="paste()">
                        <i class="fa fa-paste" aria-hidden="true"></i> Paste tags to current file
                    </button>
                    <button mat-menu-item (click)="migrateAllData()">
                        <i class="fa fa-paste" aria-hidden="true"></i> Migrate all data
                    </button>
                </mat-menu>

                <button mat-icon-button [matMenuTriggerFor]="appMenu">
                    Menu
                </button>

                <span>{{file.directory}}</span>
                <span> - {{ file.metadata.duration | duration }} - {{ file | fileSize }} - {{ file.metadata.width }}x{{ file.metadata.height }} - {{ file.metadata.codec }}</span>
            </div>

            <ng-container *ngIf="activeFile.type.startsWith('image')">
                <app-image-file class="tall" [file]="activeFile" (fileChange)="changeActiveFile($event)"></app-image-file>
            </ng-container>
            <ng-container *ngIf="!activeFile.type.startsWith('image')">
                <app-video-player [file]="activeFile" (fileChange)="changeActiveFile($event)" [ngStyle]="isMobile && videoPlayerStyle"></app-video-player>
            </ng-container>

            <div class="filename" *ngIf="isMobile">
                <span>{{file.name}}</span>

                <span class="file-open-link">
                    <a (click)="openFile()" title="Open in external player" *ngIf="!isMobile">
                        <i class="fa fa-film" aria-hidden="true"></i>
                    </a>
    
                    <a [href]="sanitize('intent://' + baseMediaPath + file.hash + '#Intent;scheme=http;package=org.videolan.vlc;end')" *ngIf="isMobile">
                        <i class="fa fa-film" aria-hidden="true"></i>
                    </a>
                </span>
            </div>

            <div class="scenes" *ngIf="!isMobile">
                <ng-container *ngIf="detectedScenes$ | async as detectedScenes">
                    <ng-container *ngIf="activeScene$ | async as activeScene">
                        <virtual-scroller class="scenes-scroll" #scenesScroll [items]="detectedScenes" [horizontal]="true">
                            <app-scene
                                *ngFor="let detectedScene of scenesScroll.viewPortItems"
                                [ngStyle]="sceneStyle"
                                [file]="activeFile"
                                [scene]="detectedScene"
                                [active]="activeScene.index === detectedScene.index">
                            </app-scene>
                        </virtual-scroller>
                    </ng-container>
                </ng-container>
            </div>
        </div>

        <div class="tag-tools" *ngIf="!isMobile">
            <mat-tab-group>
                <mat-tab label="Tags">
                    <app-tag-autocomplete [tagContainer]="file" (tagSelected)="addTag($event)" (tagRemoved)="removeTag($event)" [type]="AutocompleteType.FileTagging"></app-tag-autocomplete>
                </mat-tab>

                <mat-tab label="Timecodes{{ timecodes && timecodes.length > 0 ? ' (' + timecodes.length + ')' : '' }}">
                    <div class="timecode-tools-and-timecodes">
                        <div class="timecode-tools" *ngIf="!activeFile.type.startsWith('image')">
                            <div class="row">
                                <app-tag-autocomplete [tagContainer]="timecodeTags" [include]="file.tags" (tagSelected)="addTimecodeTagToFile($event)" [type]="AutocompleteType.FileTimecodeTagging"></app-tag-autocomplete>
                            </div>
                    
                            <div class="timecode-time-controls">
                                <div (click)="setTimecodeStartTime()" class="timecode-button" title="Set tag timecode start">
                                    <i class="fas fa-stopwatch"></i>
                                </div>
                    
                                <span (click)="goToTimecodeStart()" class="timecode-time" [ngClass]="{ 'timecode-time-unset': timecodeStartTime === undefined }" title="Go to tag timecode start">{{ timecodeStartTime | preciseDurationWithMs }}</span>

                                <div (click)="setTimecodeEndTime()" class="timecode-button" title="Set tag timecode end">
                                    <i class="fas fa-stopwatch"></i>
                                </div>
                    
                                <span (click)="goToTimecodeEnd()" class="timecode-time" [ngClass]="{ 'timecode-time-unset': timecodeEndTime === undefined }" title="Go to tag timecode end">{{ timecodeEndTime | preciseDurationWithMs }}</span>

                                <div (click)="setTimecodeScreenshotTime()" class="timecode-button" [ngClass]="{ 'screenshot-set': timecodeScreenshotTime }" title="Save initial timecode screenshot time">
                                    <i class="fas fa-camera"></i>
                                </div>

                                <button (click)="timecodeStartTime !== undefined && timecodeEndTime !== undefined && saveTagTimecode()" mat-button>Save</button>
                            </div>
                        </div>

                        <div class="timecodes" #timecodesElement *ngIf="!activeFile.type.startsWith('image') && timecodes && timecodes.length > 0">
                            <virtual-scroller class="timecodes-scroll" #timecodesScroll [items]="timecodes">
                                <div *ngFor="let timecode of timecodesScroll.viewPortItems" class="timecode">
                                    <app-timecode [file]="activeFile" [timecode]="timecode" (removed)="removeTimecode($event)" (tagsCopied)="addTagsSelectionToTimecode($event)"></app-timecode>
                                </div>
                            </virtual-scroller>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="Metadata">
                    <pre><p>{{file.metadata | json}}</p></pre>
                </mat-tab>
            </mat-tab-group>
        </div>

        <div class="tags" *ngIf="isMobile">
            <mat-tab-group>
                <mat-tab label="Tags">
                    <div style="padding-top: 6px">
                        {{ formattedTags(activeFile) }}
                    </div>
                </mat-tab>

                <mat-tab label="Timecodes" *ngIf="isMobile && !activeFile.type.startsWith('image') && timecodes && timecodes.length > 0">
                    <virtual-scroller class="timecodes-scroll" #mobileScroll [items]="timecodes">
                        <app-timecode-mobile-readonly *ngFor="let timecode of mobileScroll.viewPortItems" [file]="activeFile" [timecode]="timecode"></app-timecode-mobile-readonly>
                    </virtual-scroller>
                </mat-tab>
            </mat-tab-group>
        </div>
    </ng-container>    
</div>
