<h1 mat-dialog-title>Migrate all metadata from file to file</h1>
<div mat-dialog-content>
    <p><strong>Source file: </strong> {{ data.file.path }}</p>
    <p>
        <strong>Target file: </strong>
        <ng-container *ngIf="selectedFile">
            {{ selectedFile.path }}
        </ng-container>
    </p>

    <ng-container *ngIf="!selectedFile">
        <app-file-selector [exclude]="data.file" (fileSelected)="fileSelected($event)"></app-file-selector>
    </ng-container>

    <p><strong>Note:</strong> This will overwrite all Laputin metadata on target file!</p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="migrate()" [disabled]="!selectedFile || migrating">
        <ng-container *ngIf="!migrating">Migrate</ng-container>
        <ng-container *ngIf="migrating">Migrating...</ng-container>
    </button>
    <button mat-button (click)="cancel()">Cancel</button>
</div>
