<form (ngSubmit)="submitClicked($event)">
    <div class="row" style="align-items: flex-start;">
        <div>
            <div class="control">
                <app-tag-autocomplete [tagContainer]="query" (select)="addTag($event)" [type]="AutocompleteType.FileSearch">
                </app-tag-autocomplete>
            </div>

            <div class="control">
                <input type="text" class="form-control" [ngModel]="query.filename" (ngModelChange)="onFilenameChanged($event)"
                    name="filename" placeholder="Filename" />
            </div>

            <div class="control">
                <select class="form-control" [ngModel]="query.status" (ngModelChange)="onStatusChanged($event)" name="status">
                    <option value="both">All</option>
                    <option value="untagged">Only untagged</option>
                    <option value="tagged">Only tagged</option>
                </select>
            </div>

            <div class="control">
                <input type="submit" style="display: none;" (click)="submitClicked($event)" />
            </div>
        </div>

        <div class="selected-tags">
            <div class="tag" *ngFor="let tag of query.andTags">
                <app-search-tag [tag]="tag" [tagClass]="'must-contain'" (changed)="changeTag($event)" (removed)="removeTag($event)"></app-search-tag>
            </div>

            <div class="tag" *ngFor="let tag of query.orTags">
                <app-search-tag [tag]="tag" [tagClass]="'can-contain'" (changed)="changeTag($event)" (removed)="removeTag($event)"></app-search-tag>
            </div>

            <div class="tag" *ngFor="let tag of query.notTags">
                <app-search-tag [tag]="tag" [tagClass]="'does-not-contain'" (changed)="changeTag($event)" (removed)="removeTag($event)"></app-search-tag>
            </div>
        </div>

        <div class="control" *ngIf="query.parametersSpecified()">
            <button (click)="clear()">
                <i class="fas fa-backspace"></i>
                Clear search filters
            </button>
        </div>
    </div>
</form>
