@import './../../styles/styles.scss';

:host {
    padding: $standard-margin;
}

.row {
    @include g-layout__row;
    align-items: center;
}

.control {
    margin-bottom: 0.25 * $standard-margin;
}

label {
    margin-right: calc(0.5 * #{$standard-margin});
}

input, select, button {
    @include rounded-borders;

    background: $color-complement-1;
    color: $color-primary-4;
    font-size: 1.2em;
}

input::placeholder {
    color: $color-complement-2;
    opacity: 1;
}

.tag {
    margin-right: calc(0.5 * #{$standard-margin});
}

.selected-tags {
    margin-left: $standard-margin;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
