<form (ngSubmit)="submitClicked($event)">
    <div class="control">
        <app-tag-autocomplete [tagContainer]="query" (select)="addTag($event)" [type]="AutocompleteType.FileSearch">
        </app-tag-autocomplete>
    </div>

    <div class="control">
        <input type="text" class="form-control" [ngModel]="query.filename" (ngModelChange)="onFilenameChanged($event)"
            name="filename" placeholder="Filename" />
    </div>

    <div class="control">
        <select class="form-control" [ngModel]="query.status"
            (ngModelChange)="onStatusChanged($event)" name="status">
            <option value="both">All</option>
            <option value="untagged">Only untagged</option>
            <option value="tagged">Only tagged</option>
        </select>
    </div>

    <div class="control">
        <a style="cursor: pointer;" (click)="clear()">Clear search filters</a>
    </div>

    <div class="control">
        <input type="submit" style="display: none;" (click)="submitClicked($event)" />
    </div>
</form>

<div class="tag btn-group" *ngFor="let tag of query.tags">
    <app-search-tag [tag]="tag" (changed)="changeTag($event)" (removed)="removeTag($event)"></app-search-tag>
</div>
