@import './../../styles/styles.scss';

:host {
    padding: $standard-margin;
}

.row {
    @include g-layout__row;
    align-items: center;
}

.control {
    margin-bottom: 0.25 * $standard-margin;
}

.tag {
    margin-right: calc(0.5 * #{$standard-margin});
}

.selected-tags {
    margin-left: $standard-margin;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

mat-form-field {
    width: 15 * $standard-margin;
    max-width: 15 * $standard-margin;
}
