<div class="screenshot">
    <img src="/laputin/tag-timecode-thumbs/{{timecode.timecodeId}}.jpg{{timecode.cacheBuster}}" />
</div>

<p>{{ timecode.start | preciseDuration }} - {{ timecode.end | preciseDuration }}</p>

<p>{{ timecode.durationInSeconds | duration }}</p>

<app-tag-autocomplete [tagContainer]="timecodeTags" (tagSelected)="addTagSelectionToTimecode($event)" (tagRemoved)="removeTagFromExistingTimecode($event)" [type]="AutocompleteType.FileTimecodeTagging"></app-tag-autocomplete>

<div>
    <button mat-button (click)="setTagStart()">
        Set tag timecode start to current frame
    </button>
</div>

<div>
    <button mat-button (click)="setTagEnd()">
        Set tag timecode end to current frame
    </button>
</div>

<div>
    <button mat-button (click)="close()">
        Close
    </button>
</div>
