@import './../../styles/styles.scss';

:host {
    @include g-layout__row;
    flex: 2;
    overflow: auto;
}

.container {
    @include g-layout__row;
    flex: 2;
    overflow: auto;
}

.hidden {
    display: none;
}

.tags {
    @include g-layout__column;

    background: $color-primary-1;
    flex-basis: 100%;
    overflow: auto;
}

.tags-list {
    flex: 1;

    display: flex;
    flex-direction: column;

    padding: $standard-margin;

    overflow: auto;

    margin-top: 0;
    margin-bottom: $standard-margin;
}

.tags-search {
    overflow-y: auto;
    padding: $standard-margin;
}

.full-height {
    min-height: 100%;
    max-height: 100%;
}

virtual-scroller {
    height: 100%;
}
