@import './../../styles/styles.scss';

:host {
    @include g-layout__row;
    flex: 2;
}

.container {
    @include g-layout__row;
    flex: 2;
}

.hidden {
    display: none;
}

.tags {
    @include g-layout__column;

    background: $color-primary-1;
    flex-basis: 100%;
}

.tags-list {
    flex: 1;

    display: flex;
    flex-direction: column;

    padding: $standard-margin;

    margin-top: 0;
    margin-bottom: $standard-margin;
}

.tags-grid {
    flex: 1;
    display: grid;
    grid-template-columns: 800px 800px 800px;
    column-gap: 0.5 * $standard-margin;
    row-gap: 0.5 * $standard-margin;
}

.grid-item {
    height: 450px;
    display: flex;
}

.tags-search {
    overflow-y: auto;
    padding: $standard-margin;
}

.full-height {
    min-height: 100%;
    max-height: 100%;
}

virtual-scroller {
    height: 100%;
}
