<div class="container">
    <div class="tags">
        <div class="tags-search">
            <form>
                <mat-form-field>
                    <input matInput type="text" placeholder="Filter tags" name="filter" (keyup)="onKeyUp($event)"
                        [(ngModel)]="term" />
                </mat-form-field>
            </form>

            <h1>Showing {{filteredTags.length}} matching tags</h1>
        </div>

        <div class="tags-list">
            <div [ngClass]="{'hidden': !loading}">
                <i class="fa fa-spinner"></i>
            </div>

            <virtual-scroller #scroll [items]="filteredTags">
                <app-tag-row *ngFor="let tag of scroll.viewPortItems" [tag]="tag" style="height: 320px; max-height: 320px; padding: 12px;"></app-tag-row>
            </virtual-scroller>
        </div>
    </div>
</div>
