.filter-controls {
    background-color: #eee;
    margin-bottom: 15px;
    margin-top: -20px;
}

.extra-padded {
    padding: 15px;
}

.hover {
    border: 1px dotted;
    background-color: #428bca;
    color: white;
}

.typeahead-input {
    width: 100%;
}

.typeahead-list-container {
    position: relative;
}

.typeahead-list {
    background-color: white;
    margin-left: 0px;
    list-style-type: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
    right: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

.tag {
    margin: 3px;
}

.tag-edit {
    width: 200px;
}

/* Shame */
.submit-hack {
    position: absolute; left: -9999px; width: 1px; height: 1px;
}