@import './../../styles/styles.scss';

:host {
    @include g-layout__row;

    flex: 2;
    max-height: 100%;
}

::ng-deep {
    ::-webkit-scrollbar {
        width: 10px;
      }
       
      ::-webkit-scrollbar-thumb {
        background: #666;
      }
      
      ::-webkit-scrollbar-track {
        background: #ddd;
      }      
}

.container {
    @include g-layout__row;

    overflow: auto;
    flex: 2;
}

.tags {
    @include g-layout__column;

    background: $color-primary-1;
    overflow: auto;
    flex-basis: 100%;
    justify-content: center;
}

.tags-list {
    display: flex;
    margin-top: 0;
    overflow: auto;
    flex-grow: 1;
    flex: 1;
    justify-content: center;
}

.tags-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-item {
    $height: 300px;
    height: $height;
    width: $height * calc(16 / 9);

    display: flex;
}

.tags-search {
    padding: $standard-margin;
    overflow-y: auto;

    span {
        font-weight: bold;
    }
}

.full-height {
    min-height: 100%;
    max-height: 100%;
}

virtual-scroller {
    flex-basis: 100%;
}

mat-spinner {
    align-self: center;
}
