<div class="container">
    <div class="tags full-height" #tags>
        <app-tag-query (queryUpdated)="tagQueryUpdated($event)"></app-tag-query>

        <ng-container *ngIf="filteredTags$ | async as tags; else loading">
            <div class="tags-search">
                <span>
                    {{tags.length}} tags
                </span>
            </div>
    
            <div class="tags-list">
                <virtual-scroller #scroll [items]="tags">
                    <div class="tags-grid" #container>
                        <div class="grid-item" *ngFor="let tag of scroll.viewPortItems" [ngStyle]="tagStyle">
                            <app-tag-row [tag]="tag"></app-tag-row>
                        </div>
                    </div>
                </virtual-scroller>
            </div>
        </ng-container>

        <ng-template #loading>
            <mat-spinner></mat-spinner>
        </ng-template>
    </div>
</div>
