@import './../../styles/styles.scss';

.row {
    @include g-layout__row;

    align-items: center;
}

.control {
    margin-bottom: 0.25 * $standard-margin;
}

label {
    margin-right: calc(0.5 * #{$standard-margin});
}

input,
select,
button {
    @include rounded-borders;

    background: $color-complement-1;
    color: $color-primary-4;
    font-size: 1.2em;
}

input::placeholder {
    opacity: 1;
    color: $color-complement-2;
}

.tag {
    margin-right: calc(0.5 * #{$standard-margin});
}
